* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size:  16px;
    color: #373737;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 940px;
    width: auto;
    margin: 0 auto;
}
/* блок - О нас. начало */

.about-us {
    background-color: #f4f4f4;
    padding: 50px 0 55px 0;
}

.header-about-row{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    padding-bottom: 37px;
}

.flex-card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 33.33%;
}

.about-second-header {
    margin-bottom: 3px;
    font-size: 35px;
    font-weight: 900;
    color: #ff9d00;
}

.about-text {
    text-align: center;
}

.about-row{
    display: flex;
    justify-content: space-between;
}

.about-column {
    display: flex;
    flex-direction: column;
    flex-basis: 299px;
}

.flex-card {
    display: flex;
    flex-basis: 137px;
    margin-bottom: 20px;
    padding: 20px 20px 25px 0;
    background: #ffffff;
}

.flex-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 75px;
}

.text {
    flex-basis: calc(100% - 75px);
    padding-left: 5px;
}

.card-text-header {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}

.card-text {
    font-size: 14px;
    font-weight: 300;
}

/*блок - О нас. конец */



@media only screen and (max-width: 1024px){
.container {padding-left: 3%; padding-right: 3%;}
.header-about-row{justify-content: space-around;}
/* .about-second-header {font-size: 25px;} */
.about-second-header {font-size:30px; font-weight: 700;}
.about-column{ justify-content: space-evenly; flex-basis: 228px; }
.flex-card {padding: 15px 10px 20px 0; margin-bottom: 40px; flex-basis: 137px; }
.card-text{font-size: 13px;}
.card-text-header{font-size: 14px;}
.flex-img{flex-basis: 50px;}
.text{flex-basis: calc(100% - 50px);}
}

@media only screen and (max-width: 767px){
    .header-about-row {flex-direction: column; align-items:center;}
    .flex-card-header {margin-bottom: 15px;}
    .about-second-header {font-size: 35px;}
    .about-row{flex-direction: column; }
    .about-column{flex-direction: row; justify-content: space-evenly; flex-basis: 137px; }
    .flex-card {margin-bottom: 30px;flex-basis: 228px;}
}
@media only screen and (max-width: 550px){
    .header-about-row {flex-direction: column;align-items:center;}
    .flex-card-header {margin-bottom: 15px;}
    .about-second-header {font-size:26px; font-weight: 800;}
    .about-column{flex-direction: column; flex-basis: 77px;}
    .flex-card {padding: 10px 5px 15px 0;  margin-bottom: 20px; flex-basis: 77px;}
    .flex-img{flex-basis: 75px;}
    .text{flex-basis: calc(100% - 75px);}
}